* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding: 2px 50px;
}
.form-container {
  margin: 20px;
  width: 70%;
}
.form-container input {
  padding: 8px;
  border-radius: 5px;
}
.meal-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 14px;
  grid-column-gap: 13px;
}
.meal-content {
  padding: 8px;
}
.meal-content img {
  width: 100%;
  height: 200px;
  border-radius: 7px;
}
.link-specific-page {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-size: 17px;
}
.meal-content span {
  font-weight: bold;
  margin-right: 2px;
}
.link {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-link-youtube {
  text-decoration: none;
  border-radius: 5px;
  background: crimson;
  color: white;
  padding: 8px;
  transition: 1s;
}
.btn-link-youtube:hover {
  background: rgba(0, 0, 0, 0.5);
}
.btn-link-source {
  text-decoration: none;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  transition: 1s;
}
.text-center {
  text-align: center;
}
.meal-detail-container {
  padding: 20px 50px;
}
.meal-detail-content {
  max-width: 900px;
}
.meal-detail-content img {
  border-radius: 7px;
  max-width: 800px;
  max-height: 800px;
}
.meal-detail-desc {
  margin: 20px 2px;
}
.meal-detail-desc p {
  line-height: 25px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.meal-detail-title {
  font-size: 24px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.9);
  margin: 20px 2px;
}
.ingredient-container {
  margin: 2px;
}
.ingredient-container h2 {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.8);
}
.ingredient-container ul {
  list-style-type: none;
}
.ingredient-container li {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row-gap: 14px;
  grid-column-gap: 13px;
  background: azure;
}
.category-content {
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 8px;
  position: relative;
}
.category-content img {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  margin: 12px 4px;
  transition: 1s;
}
.category-content img:hover {
  background: rgba(0, 0, 0, 0.6);
}
.category-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.categ-desc {
  position: absolute;
  bottom: 0;
  left: 35%;
  transition: 1s;
  transform: translate(-20%);
  color: white;
  font-size: 17px;
  font-weight: 600;
  opacity: 0;
  padding: 7px;
  border-radius: 7px;
}
.category-content:hover .categ-desc {
  bottom: 50%;
  background: black;
  opacity: 1;
}
.mt-20 {
  margin: 20px;
}
/* style for ingredient */

.ingredient-wrapper {
  padding: 20px 40px;
}
.ing-form {
  padding-left: 30%;
}
.ing-form form input {
  width: 40%;
  padding: 10px;
}
.ing-form form button {
  padding: 10px;
  background: black;
  color: white;
}
